.raidBossSummary
    width: 260px
    margin: 20px
    &Button
        margin-bottom: 20px !important
    .bossInfoGuild
        margin: 60px 0px
    .bossInfoCharsContainer
        margin: 20px 0px
        .bossInfoChar
            max-width: 50%
    .BossInfoCharName
        word-wrap: break-word