.additionalInfo
    &Content
        width: 200px
        padding: 10px
        overflow-x: hidden
    &Update
        margin-bottom: 10px
        &Refresh
            text-align: center
    &Issues
        margin-bottom: 10px
        &Button
            cursor: pointer
            svg
                transform: translateY(6px)