.displayRaid
    width: 100%
    &ContentContainer
        display: flex
    &Content
        margin: 20px
        flex-grow: 1
        min-width: 260px

@media(max-width: $mobile-break)
    .displayRaidContentContainer
        flex-wrap: wrap !important
        justify-content: center