.displayRaidBoss
    width: 100%
    &LoaderContainer
        text-align: center
        margin: 20px auto
    &Title
        text-align: center
        margin: 20px
    &ContentContainer
        display: flex
    &Content
        margin: 20px
        flex-grow: 1
        min-width: 260px
    .durumuWarning
        margin: 20px
        color: $light-red
@media(max-width: $mobile-break)
    .displayRaidBossContentContainer
        flex-wrap: wrap