.searchBar
    text-align: left
    &Guild
        margin: 20px
        &Select
            width: 250px
        &Submit
            margin-top: 10px !important
    &Player
        margin: 20px
        &Submit
            margin-top: 10px !important
            display: flex !important
        &Name
            width: 250px
        &SelectRealm
            min-width: 250px

        
    
@media(max-width: $mobile-break)
    .searchBarGuild
        flex-wrap: wrap