.searchBar
    padding: 10px
    text-align: left
    &Guild
        margin-right: 10px
        &Select
            width: 260px
            margin-right: 10px
        &Submit
            margin-top: 10px !important
    &Player
        &Submit
            margin-top: 10px !important
            display: flex !important
        &Name
            width: 260px
        &SelectRealm
            min-width: 260px

        
    
@media(max-width: $mobile-break)
    .searchBarGuild
        flex-wrap: wrap