$accent-one: #1e1f26
$accent-two: #f25c00
$accent-two-light: #f25c00
$light: #f6ede2
$dark-blue: #00050a
$red: #b2102f
$mobile-break: 600px

@import  './components/RaidBossList/index.sass'
@import  './components/Navigation/index.sass'
@import './components/DisplayGuilds/index.sass'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif"

main
    display: flex
    

aside
    width: 260px
    margin: 20px
ul
    list-style: none
a
    text-decoration: none
    color: inherit
    &:hover 
        color: $accent-two
        *
            color: $accent-two
.hide
    display: none
.red
    color: $red

@media(max-width: $mobile-break)
    main
        justify-content: center
        flex-wrap: wrap