.displayPlayer
    width: 100%
    &Avatar
        transform: translateY(0) !important
    &Title
        margin: 20px
        text-align: center
    &ContentContainer
        display: flex
    &Stats
        min-width: 260px
        width: 260px
        margin: 20px
    &Tabs
        width: 180px
    &Progression
        min-width: 260px
        max-width: 100%
        margin-top: 20px
        &Rank
            width: 60px
@media(max-width: $mobile-break)
    .displayPlayerContentContainer
        flex-wrap: wrap