.displayGuild
    width: 100%
    aside
        margin: 0px
        margin-right: 20px
    &ContentContainer
        margin: 20px
    &Title
        width: 100%
        padding: 20px
        text-align: center
    &BossSummary
        width: 260px
    &Progression
        display: flex
        &DataContainer
            min-width: 260px
    &ProgressionBosses
        width: 260px
        .bossName
            cursor: pointer
        .bossValue
            font-size: 13px
            font-weight: normal
    &DifficultyTab
        width: 180px

@media(max-width: $mobile-break)
    .displayGuildContentContainer
        margin: 10px
    .displayGuildProgression
        flex-wrap: wrap
